{% load static %}  

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <div class="header-wrap">
      <p>メインメニュー</p>
      {% if user.is_authenticated %}
      <ul>
        <li><a class="nav-link">ユーザ名：{{ user.get_username }}</a></li>
        <li><a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fa fa-fw fa-sign-out"></i>ログアウト</a></li>
      </ul>
      {% else %}
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
      {% endif %}
    </div>
  </header>
  <section>
  <div class="main-box">
    <ul class="main_menu">
        <li class="list-box"><a href="">PDFアップロード</a></li>
        <li class="list-box"><a href="">Excel管理画面</a></li>
    </ul>
  </div>

{% block content %}

{% endblock %}
</section>
  <footer>
    <p>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.
    All rights reserved.</p>
  </footer>
</body>
</html>