{% load static %}  

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <div class="header-wrap">
      <p>メインメニュー</p>
      <ul>
        <li>ユーザー</li>
        <li>ログイン</li>
      </ul>
    </div>
  </header>
  <section>
  <div class="main-box">
    <ul class="main_menu">
        <li class="list-box"><a href="">PDFアップロード</a></li>
        <li class="list-box"><a href="">Excel管理画面</a></li>
    </ul>
  </div>

{% block content %}

{% endblock %}
</section>
  <footer>
    <p>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.
    All rights reserved.</p>
  </footer>
</body>
</html>