{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PDFtoExcel</title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
  <div class="login-logo">
    <b>PDFtoExcel</b>
  </div>
  <div class="login-box">
    <div class="login-form">
      <div class="form-box">
        <p class="login-title"><b>ログイン画面</b></p>
        <form action="" method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="login-input">
            {{ field }}
          </div>
          {% endfor %}
          <div class="error-login">
            {% for error in form.non_field_errors %}
              <div class="" role="alert">
                <p>{{ error }}</p>
              </div>
            {% endfor %}
              <div class="">
              <button type="submit" class="login-button mt10">ログインする</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>